@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClothesServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="House Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h5>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h5>
            <h6>
                Brand:
                <b>@Model.Brand</b>
                
            </h6>
            <br />
            <a asp-controller="Cloth" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated) //TODO Only Seller Should be able to access this tab 
            {
                //TODO Add Brand name to the product 
                <a asp-controller="Cloth" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-controller="Cloth" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
                <p></p>
                <form class="input-group-sm" asp-controller="Cloth"
                          asp-action="AddToCart" asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-primary" type="submit" value="Add to Cart" />
                </form>
            }
        </div>
    </div>
</div>